In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [14]:
file = open("Titanic.csv")
data = pd.read_csv("Titanic.csv")

# Convert categorical variable to numeric
data["Sex_cleaned"]=np.where(data["Sex"]=="male",0,1)
print (data)

                                               Name PClass    Age     Sex  \
0                      Allen, Miss Elisabeth Walton    1st  29.00  female
1                       Allison, Miss Helen Loraine    1st   2.00  female
2               Allison, Mr Hudson Joshua Creighton    1st  30.00    male
3     Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00  female
4                     Allison, Master Hudson Trevor    1st   0.92    male
...                                             ...    ...    ...     ...
1308                             Zakarian, Mr Artun    3rd  27.00    male
1309                         Zakarian, Mr Maprieder    3rd  26.00    male
1310                               Zenni, Mr Philip    3rd  22.00    male
1311                               Lievens, Mr Rene    3rd  24.00    male
1312                                 Zimmerman, Leo    3rd  29.00    male

      Survived  Sex_cleaned
0            1            1
1            0            1
2            0            0
3            0            1
4            1            0
...        ...          ...
1308         0            0
1309         0            0
1310         0            0
1311         0            0
1312         0            0

[1313 rows x 6 columns]

In [15]:
# Cleaning dataset of NaN
data=data[[
    "Survived",
    "Sex_cleaned",
    "Age"
]].dropna(axis=0, how='any')

used_features =[
    "Sex_cleaned",
    "Age"
]

X = data[used_features].values
y = data["Survived"]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)


X_train

array([[ 0.,  4.],
       [ 1., 54.],
       [ 0., 22.],
       ...,
       [ 0., 24.],
       [ 0., 30.],
       [ 0., 48.]])